@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* font-family: "Inter", sans-serif; */
header {
  /* Icône burger */
}
header .sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 2;
  top: 0;
  right: -250px;
  padding-top: 60px;
  transition: right 0.5s ease;
  background-color: hsl(36, 100%, 99%);
}
header .sidenav .bloc-link {
  margin-top: 60px;
}
header .sidenav .bloc-link a {
  margin: 35px 15px 15px 32px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  transition: 0.3s;
  color: hsl(240, 100%, 5%);
}
header .sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
header .sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 60px;
  font-weight: 200;
  text-decoration: none;
  color: hsl(240, 100%, 5%);
}
header .sidenav a:hover {
  color: #111;
}
header .sidenav.active {
  right: 0;
}
header .burger-icon {
  background-color: transparent;
  border: none;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: end;
}
header .burger-icon span {
  display: block;
  width: 35px;
  height: 5px;
  border-radius: 10px;
  background-color: black;
  margin: 5px;
}
header .bandeau {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  max-height: 90px;
  display: flex;
  justify-content: center;
}
header .bandeau .logo-bandeau {
  width: 130px;
  margin: 20px;
}
@media screen and (min-width: 1500px) {
  header {
    padding: 30px 70px 0 70px;
    display: flex;
    justify-content: space-between;
  }
  header .bandeau {
    position: relative;
    justify-content: flex-start;
    width: auto;
    max-height: none;
  }
  header .bandeau .logo-bandeau {
    width: 60px;
    margin: 0;
  }
  header .sidenav {
    width: auto;
    position: static;
    height: auto;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
  }
  header .sidenav .bloc-link {
    display: flex;
    margin-top: 0;
  }
  header .sidenav .bloc-link a {
    margin: 0 15px;
    font-size: 18px;
    padding: 10px 0;
  }
  header .sidenav .close {
    display: none;
  }
  header #openBtn {
    display: none;
  }
  header .sidenav.active {
    right: 350px;
  }
  header .burger-icon {
    visibility: hidden;
    position: absolute;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.container .bloc-intro-bannner {
  grid-column: span 2;
}
.container .bloc-new {
  grid-column: span 1;
}
.container .bloc-article {
  grid-column: span 3;
}

.container .btn-read {
  width: 200px;
  height: 50px;
  margin: 23px 0 32px 0;
  border: none;
  background-color: hsl(5, 85%, 63%);
  font-size: 17px;
  font-weight: 700;
  word-spacing: 5px;
  letter-spacing: 2px;
  color: hsl(240, 100%, 5%);
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}
html main, body main {
  width: 100%;
}
html .container, body .container {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 70px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html .container .bloc-intro-banner .img-banner, body .container .bloc-intro-banner .img-banner {
  width: 100%;
}
html .container .bloc-intro-banner .title, body .container .bloc-intro-banner .title {
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  margin: 23px 0 23px 0;
}
html .container .bloc-intro-banner .bloc-intro, body .container .bloc-intro-banner .bloc-intro {
  color: hsl(236, 13%, 42%);
  word-spacing: 2px;
  line-height: 27px;
}
html .container .bloc-new, body .container .bloc-new {
  background-color: hsl(240, 100%, 5%);
  margin: 45px 0 45px 0;
  padding: 20px;
}
html .container .bloc-new .ligne, body .container .bloc-new .ligne {
  width: 100%;
  height: 2px;
  background-color: hsl(236, 13%, 42%);
  margin: 0 auto;
}
html .container .bloc-new .sous-title, body .container .bloc-new .sous-title {
  color: hsl(35, 77%, 62%);
  font-size: 35px;
  font-weight: 600;
  margin: 0 0 20px 0;
}
html .container .bloc-new .sous-bloc, body .container .bloc-new .sous-bloc {
  margin: 30px 0 30px 0;
}
html .container .bloc-new .sous-bloc .title-sous-bloc, body .container .bloc-new .sous-bloc .title-sous-bloc {
  color: hsl(36, 100%, 99%);
  margin: 0 0 20px 0;
  font-size: 25px;
  font-weight: 600;
}
html .container .bloc-new .sous-bloc .text-sous-bloc, body .container .bloc-new .sous-bloc .text-sous-bloc {
  color: hsl(233, 8%, 79%);
  line-height: 27px;
}
html .container .bloc-article, body .container .bloc-article {
  margin-bottom: 50px;
}
html .container .bloc-article .article, body .container .bloc-article .article {
  display: flex;
  margin: 25px 0 35px 0;
}
html .container .bloc-article .article .img-article, body .container .bloc-article .article .img-article {
  width: 30%;
  margin-right: 30px;
}
html .container .bloc-article .article .bloc-text-article .number-article, body .container .bloc-article .article .bloc-text-article .number-article {
  color: hsl(5, 85%, 63%);
  font-size: 35px;
}
html .container .bloc-article .article .bloc-text-article .title-article, body .container .bloc-article .article .bloc-text-article .title-article {
  color: hsl(240, 100%, 5%);
  font-size: 20px;
  margin: 20px 0 20px 0;
}
html .container .bloc-article .article .bloc-text-article .text-article, body .container .bloc-article .article .bloc-text-article .text-article {
  color: hsl(236, 13%, 42%);
  line-height: 27px;
}

/*# sourceMappingURL=style.css.map */
