.container {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    .bloc-intro-bannner {
        grid-column: span 2;
    }

    .bloc-new {
        grid-column: span 1;
    }

    .bloc-article {
        grid-column: span 3;
    }
}