@media screen and (min-width: 1440px) {

    .container {  display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "bloc-intro-banner bloc-intro-banner bloc-new"
              "bloc-article bloc-article bloc-article";
    }

    .bloc-intro-banner { grid-area: bloc-intro-banner; }

    .bloc-article { grid-area: bloc-article; }

    .bloc-new { grid-area: bloc-new; }

}