header {
    
    .sidenav {

        

        height: 100%;
        width: 250px;
        position: fixed;
        z-index: 2;
        top: 0;
        right: -250px;

        padding-top: 60px;
        
        transition: right 0.5s ease;

        background-color: $white;

        .bloc-link {

            margin-top: 60px;

            a {
                margin: 35px 15px 15px 32px;
                text-decoration: none;
                font-size: 20px;
    
                display: block;
                transition: 0.3s;
    
                color: $darkblue;
            }
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .close {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 60px;
            font-weight: 200;

            text-decoration: none;

            color: $darkblue;
        }
    }

    .sidenav a:hover {
        color: #111;
    }

    .sidenav.active {
        right: 0;
    }

    /* Icône burger */
    .burger-icon {

        background-color: transparent;
        border: none;
    
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: end;

        span {
            display: block;
            width: 35px;
            height: 5px;

            border-radius: 10px;

            background-color: black;

            margin: 5px;
        }
    }

    .bandeau {
        position: absolute;
        z-index: -1;
        top: 0;

        width: 100%;
        max-height: 90px;

        display: flex;
        justify-content: space-between;
        align-content: center;

        



        .logo-bandeau {
            width: 50px;

            margin: 20px;
        }
    }

    @media screen and (min-width: 1500px) {
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 70px 0 50px 70px;
            box-sizing: border-box;
        }
    
        .bandeau {
            position: static;
            z-index: 1;
            width: auto;
            max-height: none;
            
    
            .logo-bandeau {
                width: 60px;
                margin: 0;
            }
        }
    
        .sidenav {
            width: auto;
            position: static;
            height: auto;
            padding: 0;
            display: flex;
            justify-content: flex-end;
            align-content: center;            
            background-color: transparent;
    
            .bloc-link {
                display: flex;
                

                margin-top: 0;
    
                a {
                    margin: 0 15px;
                    font-size: 18px;
                    padding: 10px 0;
                }
            }
    
            .close {
                display: none;
            }
        }
    
        #openBtn {
            display: none;
        }
    

        .sidenav.active {
            right: 350px;
        }

        .burger-icon {
            visibility: hidden;
            position: absolute;
            
        }
    }
}

